<div class="content">
<p class="body-txt">
    <div class="subhead">Welcome to my tech-blog, a place where a little silly guy learns more and more everyday!</div>
        <div class="blog-con" id="blog">


            <div class="holder">
                <div class="newpost">New Post +</div>
            </div>
        </div>
   
</p>
</div>

<script src="/js/addpost.js"></script>